<div style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px">
  <H1 style="color:rgba(141,50,167,0.54)">La Liste des Infractions</H1>

</div>
<div class="row">
  <div class="col-sm-12" *ngFor="let infraction of infractions" >
    <div class="card">
      <div class="card-body">
        <div class="row">
        <h6 class="card-title">{{infraction.id}}</h6>
        <span class="card-text"><b style="margin:10px">Date :</b> {{infraction.date.split("T")[0]}}</span><br>
        <span class="card-text"><b style="margin:10px">Montant : </b>{{infraction.montant}}</span><br>
        <span class="card-text"><b style="margin:10px">Marque Vehicule : </b>{{infraction.vehicule.modele}}</span><br>
        <span class="card-text"><b style="margin:10px">Matricule Vehicule : </b>{{infraction.vehicule.marque}}</span><br>
        <span class="card-text"><b style="margin:10px">Radar (vit Max) : </b>{{infraction.radar.vitesseMax}} <b style="font-weight: bold;color: brown">km/h</b></span><br><br>
        <span style="display: flex;align-items: center;justify-content: center">
           <button href="#" class="btn" style="background-color: rgba(141,50,167,0.54);margin-left:30px;margin-top:-20px">Modifier</button>&nbsp;&nbsp;
          <button href="#" class="btn" style="margin-left:10px;margin-top:-20px;background-color: rgba(141,50,167,0.54)">Supprimer</button>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
